LOG_MIN_LEVEL=Debug

DLMS_MQTT_CLIENT_GRPC_AppSettings__DlmsCacheFolderPath=Cache
DLMS_MQTT_CLIENT_GRPC_AppSettings__DlmscClientChacheLimit=1024
DLMS_MQTT_CLIENT_GRPC_AppSettings__DlmsClientCacheExpiration=00:00:10
DLMS_MQTT_CLIENT_GRPC_AppSettings__NatsHost=localhost:4222

DLMS_MQTT_CLIENT_GRPC_MqttSettings__Host=localhost
DLMS_MQTT_CLIENT_GRPC_MqttSettings__Port=1883
DLMS_MQTT_CLIENT_GRPC_MqttSettings__Username=user
DLMS_MQTT_CLIENT_GRPC_MqttSettings__Password=pass
